body{
	text-align: center;
}
.element{
	margin-bottom: 100px;
}
.player{
	height: 60vh;
	width: 60vw;
}
#body{
	background-color: white;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	display: inline-block;
}
#nightsky{
	position: fixed;
	top: 0;
	left: -10%;
	width: 120%;
	height: 100%;
	z-index: -1;
	background-color: #000110;
}
img{
	width: 17vw;
	margin-bottom: -10px;
	margin-top: -20px;
}
p{
	top: 20px;
	float: left;
	position: absolute;
}
#href_text{
	font-size: 12pt;
	position: absolute;
	top: 5px;
	margin-left: 10px;
	text-decoration: none;
	background-color: red;
	box-shadow: 0 5px 0 darkred;
	color: white;
	padding: 10px 15px;
	text-transform: uppercase;
}
#href_text:hover{
	margin-top: 3px;
	box-shadow: 0 2px 0 darkred;
}
#href_text:active{
	margin-top: 5px;
	background-color: darkred;
	box-shadow: 0 0px 0;
}
#contents{
	margin-bottom: 100px;
}
#contents a{
	font-size: 16pt;
	text-decoration: none;
	color: darkblue;
}
#contents a:hover{
	text-decoration: underline;
}
#contents a.disabled{
	color: black;
}
#contents a.disabled:hover{
	text-decoration: none;
}
#contents li{
	margin-top: 3px;
	margin-bottom: 3px;
}
#up{
	position: fixed;
	height: 55px;
	width: 55px;
	right: 15px;
	bottom: 25px;
	cursor: pointer;
	filter: drop-shadow(0px 0px 1px white);
	transition: 0.3s;
	border: 2px solid transparent;
	border-radius: 50%;
}
#up:hover{
	filter: drop-shadow(0px 0px 2px white);
	border: 2px solid white;
}
.octicon-link{
	opacity: 0;
	transition: 0.2s;
	cursor: pointer;
}
h1:hover .octicon-link{
	opacity: 1;
}
